@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

.header {
    height: 18vh;
    margin: 0;
    padding: 0;
}

.topSection{
    height: 60%;
    background-color: #188cf7;
    margin: 0;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottomSection{
    height: 40%;
    background-color: #3b3f46;
    margin: 0;
    padding: 0 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.loginBtn{
    color: white;
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.trialBtn{
    background-color: #3b3f46;
    padding: .8rem 1.5rem;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.text{
    margin: 0;
    padding: 0;
    font-family: 'Prosto One', cursive;
    color: whitesmoke;
}

@media only screen and (max-width: 760px){
    .header {
        height: 25vh;
        margin: 0;
        padding: 0;
    }
    .topSection{
        height: 70%;
        background-color: #188cf7;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bottomSection{
        height: 30%;
        background-color: #3b3f46;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .loginBtn{
        color: white;
        border: none;
        background-color: transparent;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .trialBtn{
        background-color: #3b3f46;
        padding: .8rem 1.5rem;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }