.seriesDashboard{
    display: flex;
    flex-wrap:wrap;
    padding: 1rem 5rem;
    margin: 0;
    max-width: 100vw;
  }

  .program{
    margin: 0;
  }

  @media only screen and (max-width: 760px){
    .seriesDashboard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      max-width: 100vw;
    }
  }